<?xml version="1.0"?>
<!--
/**
 * @category    Halex
 * @package     Halex\VideoWysiwyg
 * @author      Aleksejs Prjahins <aleksejs.prjahins@gmail.com>
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Halex_VideoWysiwyg">
        <sequence>
            <module name="Magento_PageBuilder"/>
        </sequence>
    </module>
</config>
